@font-face {
    font-family: 'BT Carbon';
    src: 
         /* url('.woff2') format('woff2'),
         url('.woff') format('woff'), */
         url('./fonts/BT-Carbon.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

h3 {
    font-family: 'BT Carbon';
    font-size: 24px;
}

h1 {
    font-family: 'BT Carbon';
    font-size: 128px;
    /* -webkit-text-stroke: 3px #000; */
    color: #fff;
    filter: drop-shadow(0px 0px 20px #000);
    font-kerning: auto;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: #000;
    font-family: "BT Carbon";
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}

.links ul {
    display: flex;
    gap: 15px;
}

li:hover {
    scale: 1.1;
}

.hero {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-height: 450px;
    /* background-image: url('./images/m-alazia-70pznD3NwJM-unsplash.jpg'); */
    background-image: url('./images/pexels-pixabay-159644.jpg');
    background-size: cover;
    opacity: 0.75;
    border-radius: 20px;
    padding: 0px 50px;
}

.about {
    flex: 1;
    height: 450px;
}

.slider {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    overflow: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.slide {
    flex: 1;
    width: 80vw;
    display: flex;
}

.slide img {
    height: 100px;
}

.footer {
    flex: 1;
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    font-family: 'BT Carbon';
    padding:10px 50px;
}