@font-face {
    font-family: 'Elementary Bold';
    src: url('ElementaryBold-Regular.woff2') format('woff2'),
         url('ElementaryBold-Regular.woff') format('woff'),
         url('ElementaryBold-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
    font-family: 'Handsor';
    src: url('Handsor-Regular.woff2') format('woff2'),
         url('Handsor-Regular.woff') format('woff'),
         url('Handsor-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

body {

    background-image: radial-gradient(circle at bottom, #FDB514, #48C4E6); 
    font-family: "Elementary Bold";
    color: #335246;
}

h1 {
    font-family: 'Handsor';
    font-size: 72px;
    text-align: center;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Elementary Bold';
    text-align: center;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    background-color: #F17B9E;
    padding: 5px;
    border-radius: 5px;
}

li:hover {
    scale: 1.05;
  /* animation: shake 0.5s;
  animation-iteration-count: 1; */
}

@keyframes shake {
  0% { transform: translate(0px, 0px) rotate(0deg); }
  10% { transform: translate(0px, 0px) rotate(-3deg); }
  20% { transform: translate(0px, 0px) rotate(3deg); }
  30% { transform: translate(0px, 0px) rotate(0deg); }
  40% { transform: translate(0px, 0px) rotate(-3deg); }
  50% { transform: translate(0px, 0px) rotate(3deg); }
}

a {
    color: #335246;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.nav {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
}

.links {
    /* flex: 1; */
}

.links ul {
    /* flex: 1; */
    display: flex;
    gap: 10px;
}

.hero {
    flex: 1;
}

.logotype {
    filter: drop-shadow(0px 10px 20px #FDB514);
}

.trees {
    flex: 1;
    align-self: center;
    width: 210vw;
}

.mockups {
    flex: 1;
}

.img1 {
    width: 80vw;
    height: 80vh;
}

.footer {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
}

.copyright {
    /* flex: 1; */
}

.logo {
    /* flex: 1; */
    filter: drop-shadow(0px 0px 20px #956600)
}